@(availableThreads: Int)

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Image Processor</title>

        @*Bootstrap*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">

        @* Styles *@
        <link rel="stylesheet/less" type="text/css" href="/assets/styles/main.less" />

        @* Timecircles styles *@
        <link rel="stylesheet/less" type="text/css" href="/assets/styles/timecircles.less" />

    </head>

    <body>
        <div class="container_fluid wrapper">

            <a href="https://github.com/inakianduaga/scala-image-processor">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
                alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
            </a>

            <br/>

            <div class="row">
                <div class="col col-xs-12">
                    <h3>Scala image processor demo</h3>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col col-xs-12 col-md-3">

                    <div class="card">
                        <div class="card-header">
                            Upload image...
                        </div>
                        <div class="card-block">
                            <form action="/image" method="post" enctype="multipart/form-data">
                                <fieldset class="form-group">
                                    <label for="fileInput">Select image to upload:</label>
                                    <br/>
                                    <input type="file" name="fileInput" id="fileToUpload">
                                    <br/><br/>
                                    <button type="submit" class="btn btn-primary" id="manualUploadSubmit">Process</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="col col-xs-12 col-md-5">

                    <div class="card">
                        <div class="card-header">
                            ...or try a random one <button type="submit" class="btn btn-info btn-sm label label-info pull-right" id="fetchImage">Fetch random image</button>
                        </div>
                        <div class="card-block">

                            <div id="imageContainer" class="imageContainer">

                            </div>

                            <button id="submitDownloaded" type="submit" class="btn btn-primary hide">Process</button>


                        </div>
                    </div>

                </div>

                <div class="col col-xs-12 col-md-4">

                    <div class="card">
                        <div class="card-header">
                            Stats
                        </div>
                        <div class="card-block">

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-secondary threadSelector active" data-threaded="true" data-target="multi">
                                    <input type="radio" autocomplete="off" checked> Multi-Thread (@availableThreads threads)
                                </label>
                                <label class="btn btn-sm btn-secondary threadSelector" data-threaded="false" data-target="single">
                                    <input type="radio" autocomplete="off"> Single Thread
                                </label>
                            </div>

                            <br/>

                            <div class="multi progressWrapper">
                                <div id="multiThreadTimer" class="timerBox">
                                </div>
                            </div>

                            <div class="single progressWrapper hide">
                                <div id="singleThreadTimer" class="timerBox">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <br/>

            @* Results placeholder *@
            <div class="row" id="resultsPlaceholder">
                @*<div class="col col-xs-12" id="resultsPlaceholder">*@

                @*</div>*@
            </div>

        </div>

        @*Jquery *@
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

        @*Bootstrap*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/umd/button.js"></script>

        @* Babel transpiler *@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>

        @* Time circles *@
        <script type="text/javascript" src="/assets/scripts/timecircles.js"></script>

        @*Api*@
        <script type="text/javascript" src="/assets/scripts/main.js"></script>

        @*Less compiler *@
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.6.0/less.min.js"></script>

        @* Gallery *@
        @* https://ed-lea.github.io/jquery-collagePlus /*@
        <script type="text/javascript" src="/assets/scripts/jquery.collagePlus.min.js"></script>

    </body>
</html>
